/******************************************************************
Stylesheet: Variables
******************************************************************/

@mixin space($property, $direction: null, $multiplier: 1) {
  $responsive: 6.25vw*$multiplier;
  $min: 30px*$multiplier;
  $max: 80px*$multiplier;
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vw', 'width', 'height');
  $min-breakpoint: $min / $responsive-unitless * 100;
  $fallback: false;
  @media (max-#{$dimension}: #{$min-breakpoint}) {
    @if ($direction) {
      #{$property}-#{$direction}: $min;
    } @else {
      #{$property}: $min;
    }
  }

  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      @if ($direction) {
        #{$property}-#{$direction}: $max;
      } @else {
        #{$property}: $max;
      }
    }
  }

  @if $fallback {
    @if ($direction) {
      #{$property}-#{$direction}: $responsive;
    } @else {
      #{$property}: $responsive;
    }
  }

  @if ($direction) {
    #{$property}-#{$direction}: $responsive;
  } @else {
    #{$property}: $responsive;
  }
}

$black:	#000;
$white:	#fff;
$grey: #EFEFEF;
$light-turquoise: #D8ECE9;
$dark-turquoise: #0C5159;
$light-green: #E2EDD0;
$dark-green: #193F3D;
$light-salmon: #FBDBC3;
$dark-salmon: #631A1E;


$base-font-color: $black;
$border-width: 2px;
$spacing: 100vw / 16;

$big-header-font-family: lemonde-journal;
$big-header-font-weight: 700;
$small-header-font-family: brandon-grotesque;
$small-header-font-weight: 700;
$paragraph-font-family: brandon-grotesque;
$paragraph-font-weight: 400;
$paragraph-font-style: italic;
