/******************************************************************
Stylesheet: iPad Landscape and Small Desktop Stylesheet
******************************************************************/

.desktop-hidden {
  display: none;
}

nav.global-menu {
  top: $spacing / 2;
  right: $spacing / 2;

  img {
    margin-top: $spacing / 4;
  }
}

body > footer {
  padding: $spacing / 4 $spacing;
  border-right: $spacing solid $white;
  display: flex;
  justify-content: space-between;

  ul {
    li {
      display: inline-block;
    }
  }

  section:first-of-type {
    ul {
      li {
        margin-right: 0.5em;
      }
    }
  }

  section:last-of-type {
    ul {
      li {
        margin-left: 1em;
      }
    }
  }
}

.page,
.single {
  #logo {
    left: $spacing / 2;
    top: $spacing / 2;
  }
}

main {
  & > header {
    margin-right: 25%;
    position: relative;
    padding-left: $spacing;

    svg {
      max-width: $spacing * 3;
      margin-left: $spacing * -0.5;
      margin-top: $spacing * -0.5;
    }

    figure {
      width: 25vw;
      position: relative;
      left: 56vw;
      padding: $spacing / 2 0;
    }

    nav {
      position: absolute;
      bottom: $spacing / 2;
    }
  }

  #our-team {
    display: grid;
    grid-template-columns: 1fr 1fr;
    direction: rtl;
    align-items: center;

    * {
      direction: ltr;
    }

    section {
      padding-right: $spacing * 2;
      margin: 0;
    }

    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1em;

      li {
        margin-bottom: $spacing / 2;

        .image-wrapper {
          height: $spacing * 3;
          filter: grayscale(1);
        }
      }
    }
  }

  #history {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $spacing;
    background: linear-gradient(
      to top,
      $white #{$spacing * 2},
      $light-salmon #{$spacing * 2},
      $light-salmon calc(100% - #{$spacing * 2})
    );

    h1 {
      margin-top: 0;
    }

    aside {
      margin: $spacing 0;
      padding-bottom: $spacing / 2;

      span {
        display: block;
      }
    }
  }

  #contact {
    padding: $spacing * 1.5;
    display: grid;
    grid-gap: $spacing;
    grid-template-columns: 1fr 1fr;

    form {
      margin-top: 7.75em;
    }
  }

  #instagram {
    ul {
      li {
        display: inline-block;

        &:nth-child(n + 4) {
          display: inline-block;
        }

        .image-wrapper {
          width: $spacing * 2;
          height: $spacing * 2;
        }
      }
    }
  }
}

.page-template-home main {
  header {
    height: 100vh;
    max-height: $spacing * 10;

    h1 {
      position: absolute;
      top: calc(50% - 2em);
      right: 12.5vw + $spacing;
      margin-left: $spacing;
      max-width: 8em;
      padding-right: 0;
      margin-top: 0;
    }

    figure {
      height: calc(100% - #{$spacing});
      padding-right: 0;

      img {
        max-height: 100%;
      }
    }
  }

  #contact {
    border-right: $spacing * 1.5 solid $white;
    margin-right: 0;
    margin-top: 0;
  }
}

.page-template-contact {
  position: relative;

  main {
    header {
      position: static;
      margin-bottom: $spacing * 2;
      padding: $spacing * 2;
      padding-bottom: $spacing;
      background: $light-turquoise;

      h1 {
        max-width: 8em;
        padding-right: 0;
        margin-top: 0;
      }

      #map {
        position: absolute;
        right: $spacing * 1.5;
        top: $spacing * 3;
        width: 50vw;
        height: 500px;
      }
    }

    #contact {
      border-left: $spacing * 2 solid $white;
      margin-bottom: $spacing;
      background: $light-green;
      border: none;

      section:last-of-type {
        position: relative;
        top: -0.5em;

        .gform_wrapper {
          margin-top: 0;

          form {
            margin-top: 0;
          }
        }
      }
    }
  }
}

.single {
  position: relative;

  main {
    header {
      h1 {
        margin-left: $spacing * 2;
        margin-top: $spacing;
        margin-bottom: $spacing;
      }

      div {
        transform: rotate(-90deg) translateX(50%);
        display: inline-block;
        position: absolute;
        right: $spacing * -0.6;
        bottom: $spacing * 0.25;
      }

      aside {
        position: absolute;
        right: $spacing * -1.5;
        bottom: 1em;

        li {
          display: block;

          &:first-of-type {
            margin-left: 0.5em;
          }
        }
      }
    }

    article {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: $spacing;
      margin-top: $spacing;
      margin-right: 25%;
      margin-left: $spacing * 1.5;
      margin-bottom: $spacing * 2;
      padding: 0;

      .images {
        padding-right: 0;
      }
    }
  }
}

.single-profile {
  background: linear-gradient(90deg, transparent 35%, $light-salmon 35%);
  display: grid;
  min-height: 100vh;
  padding-top: $spacing;

  & > footer {
    border-right: $spacing solid $light-salmon;
  }

  main {
    padding-top: 0;
    border-bottom: none;

    article {
      background: transparent;

      .profile {
        width: 100%;
      }
    }
  }
}

.page-template-archive-creatives,
.page-template-talent {
  main {
    header {
      h1 {
        margin-top: $spacing * 2;
      }

      h1,
      #search {
        margin-left: $spacing * 2;

        &::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          font-size: $spacing * 0.25;
        }
        &::-moz-placeholder {
          /* Firefox 19+ */
          font-size: $spacing * 0.25;
        }
        &:-ms-input-placeholder {
          /* IE 10+ */
          font-size: $spacing * 0.25;
        }
        &:-moz-placeholder {
          /* Firefox 18- */
          font-size: $spacing * 0.25;
        }
      }
    }

    & > aside {
      top: calc(25.4em + #{$spacing});
      right: calc(#{$spacing / 2} - 6.8em);
    }

    ul {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: $spacing / 8;
      padding-right: 0;

      .image-wrapper {
        width: 100%;
        height: $spacing * 3.5;
      }

      aside {
        font-size: $spacing * 0.25;

        p {
          margin-bottom: 0;
        }
      }
    }
  }
}

li.grid-layout {
  a {
    .image-wrapper {
      .overlay {
        opacity: 0;

        strong {
          font-size: 200%;
          line-height: 120%;
        }
      }

      &:hover {
        .overlay {
          opacity: 1;
          background-color: rgba($dark-green, 0.85);

          span {
            opacity: 1;
          }
        }
      }
    }
  }
}

.page-template-blog {
  main {
    header {
      h1 {
        margin-top: $spacing;
        margin-bottom: $spacing * 2.5;
        margin-left: $spacing * 2;
      }
    }

    & > section {
      ul {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-rows: $spacing * 4;
        margin: $spacing * -3 $spacing $spacing;
        padding-bottom: $spacing;

        li {
          .overlay {
            justify-content: space-between !important;
          }
        }

        .big {
          grid-row: span 2;
          grid-column: span 2;

          .image-wrapper {
            height: $spacing * 8 + $spacing / 4;

            .overlay {
              padding: $spacing * 0.75;

              strong {
                max-width: $spacing * 3;
                margin-bottom: $spacing / 4;
                font-size: 150%;
              }

              p {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}
