/******************************************************************
Stylesheet: Base Mobile Stylesheet
******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
  font-family: $paragraph-font-family;
  font-weight: $paragraph-font-weight;
  font-style: $paragraph-font-style;
  font-size: 100%;
  line-height: 1.4;
  color: $base-font-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  & > footer {
    padding: $spacing;
    @extend .grey;

    br {
      content: " ";
      display: none;
    }

    section:first-of-type {
      ul {
        li {
          display: inline-block;
          margin-right: 1em;
        }
      }
    }
  }
}

p {
  margin-top: 0;
}

@media (max-width: 1023px) {
  .mobile-hidden {
    display: none;
  }
}

*:focus {
  outline: 0;
}

* {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 0.4s ease-in-out;
}

a {
  color: $base-font-color;
  text-decoration: none;
}

a.logo {
  display: inline-block;
  width: fit-content;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: bottom;
}

.b-lazy {
  opacity: 0;
  transition: opacity 0.8s !important;

  &:not(.os-animation).b-loaded {
    opacity: 1;
  }
}

.os-animation,
.staggered-animation {
  @include opacity(0);

  &.animated {
    @include opacity(1);
  }
}

.full {
  float: left;
  width: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.f-r {
  float: right;
}

.f-l {
  float: left;
}

/* screen sizes display classes */

.display-tablet,
.display-tablet-landscape,
.display-desktop {
  display: none;
}

.display-mobile {
  display: block;
}

.wrap {
  @include space("padding", "left", 1);
  @include space("padding", "right", 1);
}

h1,
.h1,
h2,
.h2 {
  text-rendering: optimizelegibility;
  font-style: normal;
  color: $black;

  /* removing text decoration from all headline links */
  a {
    text-decoration: none;
  }
}

h1,
.h1 {
  font-size: 3em;
  font-family: $big-header-font-family;
  font-weight: $big-header-font-weight;
  line-height: 1.2;

  &.small {
    font-size: 1.5em;
  }
}

h2,
.h2 {
  font-size: 1.5em;
  font-family: $small-header-font-family;
  font-weight: $small-header-font-weight;
  margin-bottom: 0;

  & + p {
    margin-top: 0;
  }
}

.btn {
  display: inline-block;
  background: transparent;
  border-style: solid;
  border-width: $border-width;
  text-decoration: none;
  padding: 0.25em;
  font-weight: bold;
  font-style: normal;

  .turquoise & {
    border-color: $dark-turquoise;
    color: $dark-turquoise;

    &:hover,
    &:active,
    &:focus {
      background: $dark-turquoise;
      color: $light-turquoise;
    }
  }

  .green & {
    border-color: $dark-green;
    color: $dark-green;

    &:hover,
    &:active,
    &:focus {
      background: $dark-green;
      color: $light-green;
    }
  }

  .salmon & {
    border-color: $dark-salmon;
    color: $dark-salmon;

    &:hover,
    &:active,
    &:focus {
      background: $dark-salmon;
      color: $light-salmon;
    }
  }
}

.turquoise {
  background: $light-turquoise;

  h1,
  .h1,
  .dark {
    color: $dark-turquoise;
  }
}

.green {
  background: $light-green;

  h1,
  .h1,
  .dark {
    color: $dark-green;
  }
}

.salmon {
  background: $light-salmon;

  h1,
  .h1,
  .dark {
    color: $dark-salmon;
  }
}

.grey {
  background: $grey;

  h1,
  .h1,
  .dark {
    color: $black;
  }
}

nav.global-menu {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  transform: rotate(-180deg) translateX(-00%);
  position: absolute;
  top: $spacing * 1.5;
  right: $spacing;
  z-index: 2;

  ul#menu-global-menu {
    opacity: 0;
    transition: all ease-in-out 0.4s;
    transition-delay: 0.4s;

    li {
      padding-top: 2em;
      writing-mode: tb;
    }
  }

  img {
    margin-top: $spacing;
  }

  &:hover {
    cursor: pointer;
  }

  &.active {
    img {
      transform: rotate(90deg);
    }

    #menu-global-menu {
      opacity: 1;
    }
  }
}

main {
  & > header {
    padding: $spacing;

    h1 {
      padding-right: $spacing * 2;
      margin-top: $spacing * 3;
    }

    svg {
      max-width: 50%;
    }

    nav {
      ul {
        li {
          margin: 0.5em;
          display: inline-block;
        }
      }
    }

    figcaption {
      margin-top: 1em;
    }
  }

  #our-team {
    section {
      padding: $spacing;
      margin: $spacing;
    }

    ul {
      margin: $spacing;

      li {
        margin-bottom: $spacing * 2;

        .image-wrapper {
          width: 100%;
          height: calc(100vw - #{$spacing * 2});
        }
      }
    }
  }

  #history {
    padding: $spacing;

    img {
      width: 100%;
    }

    aside {
      margin: 1em 0;
    }

    figcaption {
      margin-top: 1em;
    }
  }

  #contact {
    padding: $spacing;

    form {
      .gfield_required {
        display: none;
      }

      input,
      textarea,
      select {
        width: 100%;
        background: transparent;
        padding: 0.5em;
        margin: 0.25em 0;
        display: block;

        &[type="submit"] {
          color: $white;
          padding: 0.75em;
        }
      }

      input:not([type="submit"]),
      textarea {
        font-family: $paragraph-font-family;
        font-style: $paragraph-font-style;
        font-weight: $paragraph-font-weight;
      }

      select {
        color: $white;
        border-radius: 0;
        -webkit-appearance: none;
        -webkit-border-radius: 0px;
        padding-right: 1.5em;
        background-image: url("../images/arrow-down.png");
        background-repeat: no-repeat;
        background-position: center right 0.5em;
      }
    }
  }

  #instagram {
    padding: $spacing;

    ul {
      display: flex;
      justify-content: space-between;

      li {
        display: inline-block;

        &:nth-child(n + 4) {
          display: none;
        }

        .image-wrapper {
          width: $spacing * 4;
          height: $spacing * 4;
          display: inline-block;
          background-size: cover;
        }
      }
    }
  }
}

.page-template-home main {
  header {
    figure {
      padding-right: $spacing * 2;
    }
  }

  #contact {
    margin-right: $spacing;
    margin-top: $spacing;

    select {
      background-color: $black;
    }

    input,
    textarea,
    select {
      border: $border-width solid $black;

      &[type="submit"] {
        background: $black;

        &:hover {
          background: darken($grey, 50);
        }
      }
    }
  }
}

.page,
.single {
  #logo {
    position: absolute;
    left: $spacing;
    top: $spacing;
    z-index: 1;
  }
}

.page-template-contact {
  margin-top: -1.5em;

  #logo {
    top: $spacing !important;
  }

  main {
    & > header {
      background: linear-gradient(0deg, transparent 15%, $light-turquoise 15%);

      #map {
        height: 70vw;
      }

      ul {
        li {
          display: grid;
          align-items: center;
          grid-template-columns: 3em auto;
          margin: 0.5em 0;

          img {
            width: 2.5em;
          }

          p {
            margin: 0;
          }
        }
      }
    }

    #contact {
      $space: calc(23em + #{$spacing});
      background: linear-gradient(
        0deg,
        transparent #{$space},
        $light-green #{$space}
      );
      border-right: solid $spacing $white;

      select {
        background-color: $dark-green;
      }

      input,
      select,
      textarea {
        border: $border-width solid $dark-green;

        &[type="submit"] {
          background: $dark-green;

          &:hover {
            background: lighten($dark-green, 10);
          }
        }
      }
    }
  }
}

.single {
  &:not(.single-profile) {
    margin-top: -1.5em;

    main {
      article {
        background: $white;
      }
    }
  }

  main {
    header {
      aside {
        li {
          margin: 0.5em;
          display: inline;

          &:first-of-type {
            margin-left: 0;
          }
        }
      }
    }

    article {
      padding: $spacing;
      margin-bottom: $spacing;

      .images {
        margin-top: $spacing * -2;
        z-index: 1;
        padding-right: $spacing * 1.5;

        img {
          margin-bottom: $spacing / 4;
          width: 100%;
        }
      }

      .entry-content {
        display: flex;
        flex-direction: column;

        p {
          @for $i from 1 to 5 {
            &:nth-of-type(#{$i}) {
              order: $i;
            }
          }

          @for $i from 5 to 30 {
            &:nth-of-type(#{$i}) {
              order: $i + 1;
            }
          }
        }

        #highlight {
          color: $dark-green;
          @extend h2;
          font-family: $big-header-font-family;
          order: 5;
          margin: $spacing / 2 0;
        }

        .last {
          order: 1000;
        }
      }
    }
  }
}

.single-profile {
  background: $light-salmon;

  & > footer {
    border-right: $spacing solid $white;
  }

  main {
    display: flex;
    padding-top: $spacing * 3;
    border-bottom: $spacing solid $white;

    article {
      .profile {
        width: calc(100% - #{$spacing * 1.5});
      }

      & > div {
        ul {
          li {
            margin: 0.5em 0;
            display: grid;
            grid-template-columns: 40px auto;

            img {
              margin-right: 0.5em;
            }
          }
        }
      }

      .entry-content {
        display: block;
        background: transparent;

        p:nth-of-type(1) {
          order: unset;
        }

        .btn {
          margin-top: $spacing / 2;
        }
      }
    }
  }
}

.page-template-archive-creatives,
.page-template-talent {
  margin-top: $spacing * -1;

  main {
    header {
      padding-bottom: $spacing * 3;

      h1 {
        margin-top: $spacing * 3;
      }

      #search {
        $color: rgba($black, 0.15);
        color: $black;
        margin-bottom: $spacing / 2;
        border: 0;
        background-color: transparent;
        background-image: url("../images/Mag2.svg");
        background-repeat: no-repeat;
        background-size: 30px 26px;
        background-position: left center;
        border-bottom: 2px solid rgba($black, 0.075);
        padding: 5px;
        padding-left: 35px;
        transition: all 0.4s ease-in-out;
        min-width: 20em;

        &:focus-within {
          background-image: url("../images/Mag.svg");
          border-bottom: 2px solid $black;
        }

        &::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: $color;
          font-size: $spacing * 0.5;
          font-family: $big-header-font-family;
        }
        &::-moz-placeholder {
          /* Firefox 19+ */
          color: $color;
          font-size: $spacing * 0.5;
          font-family: $big-header-font-family;
        }
        &:-ms-input-placeholder {
          /* IE 10+ */
          color: $color;
          font-size: $spacing * 0.5;
          font-family: $big-header-font-family;
        }
        &:-moz-placeholder {
          /* Firefox 18- */
          color: $color;
          font-size: $spacing * 0.5;
          font-family: $big-header-font-family;
        }
      }
    }

    & > aside {
      font-weight: bold;
      transform: rotate(-90deg) translateX(-00%);
      position: absolute;
      top: calc(25.4em + #{$spacing * 2});
      right: calc(#{$spacing} - 6.8em);
      width: 15em;
    }

    & > ul {
      display: grid;
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
      grid-gap: $spacing / 4;
      margin: $spacing * -3 $spacing $spacing;
      padding-right: $spacing * 1.75;
      position: relative;
      min-height: 50vh;

      .image-wrapper {
        width: 100%;
        height: $spacing * 6;
        background-color: $light-turquoise;

        span.img {
          border: none;
          padding: 0 !important;
        }
      }

      aside {
        @extend h2;
        font-size: $spacing * 0.5;
        font-family: $big-header-font-family;
        padding: $spacing / 2;
        display: flex;
        align-items: center;

        &.turquoise {
          color: $dark-turquoise;
        }

        &.salmon {
          color: $dark-salmon;
        }

        &.green {
          color: $dark-green;
        }
      }
    }
  }
}

li.grid-layout {
  a {
    position: relative;
    color: $white;

    .image-wrapper {
      position: relative;

      .overlay {
        display: inline-flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: space-between;
        padding: $spacing / 4;
        position: relative;
        top: 0;
        left: 0;
        z-index: 3;
        width: 100%;
        height: 100%;
        background-color: rgba($black, 0.25);

        span {
          @extend .btn;
          padding-left: 0.5em;
          padding-right: 0.5em;
          opacity: 0;
        }

        strong {
          @extend .h2;
          font-size: 100%;
          color: $white;
        }
      }
    }
  }
}

.page-template-blog {
  margin-top: $spacing * -1;

  main {
    header {
      h1 {
        color: $dark-green;
      }
    }

    & > section {
      ul {
        display: grid;
        grid-auto-flow: dense;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: $spacing * 8;
        grid-gap: $spacing / 4;
        margin: $spacing * -0.5 $spacing $spacing;
        padding-right: $spacing * 1.75;

        .image-wrapper {
          width: 100%;
          height: 100%;
          background-color: $dark-green;

          .overlay {
            background-color: rgba($dark-green, 0.85);

            strong {
              font-size: 100%;
            }
            span {
              margin-bottom: $spacing / 8;
            }
            p {
              display: none;
            }
          }
        }

        .big {
          .overlay {
            justify-content: space-between;

            div {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
            }

            p {
              font-family: $big-header-font-family;
              font-size: 130%;
              font-style: normal;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
